out
bin
node_modules
*.vsix

# Ignore the generated .d.ts and .js files for protos 
# that end up in the src/ tree.
src/protos/protos.d.ts
src/protos/protos.js

# Package-lock has proven to have bad line endings,
# causing other platforms to have build issues. Ignoring
# it to allow people to manage their package-lock.json
# files independently.
package-lock.json
