# server
server/build

# client_vscode
client_vscode/out
client_vscode/bin
client_vscode/node_modules
client_vscode/src/protos/protos.d.ts
client_vscode/src/protos/protos.js
client_vscode/package-lock.json
