# VS Code specific
.vscode/**
.vscode-test/**

# Build and test artifacts
out/**
*.vsix
*.log
*.tsbuildinfo

# Dependencies
node_modules/

# Source control
.git/
.github/

# Project and config files
.gitignore
.prettierignore
.vscode-test.js
CODEOWNERS
eslint.config.js
tsconfig.json
syntaxes/.gitignore

# Development files
src/
test/
scripts/

# Other
AUTHORS
CONTRIBUTING.md
CONTRIBUTORS
RELEASE.md
# Keep LICENSE, README.md, CHANGELOG.md, package.json and the syntaxes themselves
# syntaxes/starlark.configuration.json
# syntaxes/starlark.tmLanguage.json
# syntaxes/starlark.tmLanguage.license
