.github/**
.vscode-test/**
.vscode/**
out/**
scripts/**
node_modules/**
src/**
test/**
.vscode-test/

**/*.map

syntaxes/bazelrc.tmLanguage.yaml
syntaxes/.gitignore

.gitignore
.prettierignore
.vscode-test.js
AUTHORS
CODEOWNERS
CONTRIBUTORS
tsconfig.json
esbuild.js
