.vscode-test/**
.vscode/**
out/test/**
scripts/**
src/**
test/**
.vscode-test/

**/*.map

syntaxes/bazelrc.tmLanguage.yaml
syntaxes/.gitignore

.gitignore
AUTHORS
CODEOWNERS
CONTRIBUTORS
tsconfig.json
